<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- namespace에는 연결할 Mapper 인터페이스의 패키지 + 인터페이스명 작성 -->
<mapper namespace="edu.kh.todolist.mapper.TodoListMapper">
	
	<!-- resultType : 조회된 "행" 타입 -->
	
	<!-- 할 일 목록 조회 -->
	<select id="selectTodoList" resultType="Todo">
		SELECT LIST_NO, LIST_TITLE, LIST_COMPLETE, TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD HH24:MI:SS') ENROLL_DATE 
		FROM TODO_LIST
		WHERE LIST_NO > 0
		ORDER BY LIST_NO ASC
	</select>
	
	<!-- 완료된 할 일 개수 조회 -->
	<select id="selectCompleteCount" resultType="_int">
		SELECT COUNT(*) 
		FROM TODO_LIST
		WHERE LIST_NO > 0
		AND LIST_COMPLETE = 1
	</select>
	
	<!-- DML은 결과가 항상 int라서 적지 않음!! (암묵적으로 int) -->
	
	<!-- 할 일 추가 -->
	<insert id="todoAdd" parameterType="Todo">
		INSERT INTO TODO_LIST(LIST_NO, LIST_TITLE, LIST_CHECK)
		VALUES(SEQ_LIST_NO.NEXTVAL, #{listTitle}, #{listCheck})
	</insert>
	
	<!-- 할 일 상세조회 -->
	<select id="listCheck" parameterType="_int" resultType="Todo">
		SELECT LIST_NO, LIST_TITLE, LIST_CHECK, LIST_COMPLETE, TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD HH24:MI:SS') ENROLL_DATE 
		FROM TODO_LIST
		WHERE LIST_NO = #{listNo}
	</select>
	
	<!-- 완료 여부 변경 -->
	<update id="todoComplete">
		UPDATE TODO_LIST
		SET LIST_COMPLETE = DECODE(LIST_COMPLETE, 0, 1, 0)
		WHERE LIST_NO = #{listNo}
	</update>
	
	<!-- 할 일 수정 -->
	<update id="todoUpdate" parameterType="Todo">
		UPDATE TODO_LIST
		SET LIST_TITLE = #{listTitle},
			LIST_CHECK = #{listCheck}
		WHERE LIST_NO = #{listNo}
	</update>
	
	<!-- 할 일 삭제 -->
	<delete id="todoDelete" parameterType="_int">
		DELETE FROM TODO_LIST
		WHERE LIST_NO = #{listNo}
	</delete>
	
	<!-- 제목 검색 -->
	<select id="searchTitle" parameterType="_int" resultType="string">
		SELECT LIST_TITLE
		FROM TODO_LIST
		WHERE LIST_NO = #{listNo}
	</select>
	
	<!-- 전체 할 일 개수 조회 -->
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM TODO_LIST
	</select>

</mapper>
